.desktop{
  widows: 100vw;
  height: 100vh;
  position: relative;
  background-color:#f1f1f1;
}
body{
  overflow:hidden;
}

.quest-list{
  position:absolute;
  top:50px;
  right:30px;
}

.camera{
  position:absolute;
  top:70px;
  left:640px;
  width:calc(100%-640px);
  height:500px;
}

.stream{
  position:absolute;
  top:5%;
  left:10%;
  width:80%;
  height:90%;
}
.watch{
  position:absolute;
  top:5%;
  left:10%;
  width:80%;
  height:90%;
}
.terminal{
  width:640px;
  height:360px;
  font-size:14px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  border-style:solid;
  position:absolute;
  top:30px;
  left:calc((100% - 640px) / 2);
}