<html>
<head>
<title>GrepAwk Canvas</title>
</head>
<body>
<canvas id='canvas' width='300', height='300', style='border:1px solid #000000;'>
</canvas>
<script>
  const canvas = document.getElementById('canvas');
  const ctx = canvas.getContext('2d');
  var data = '<%= data %>';
  var lines = data.split("|")
  lines.forEach((line, i)=>{
    var t = line.split(",");
    var cmd = t[0];
    var args = t.splice(1);
    stroke(cmd,args);
  })

  function stroke(cmd, args){
    args = args.map((a,i)=>{
      return i<=4 ? 10+parseInt(a) : a;
    });
    switch(cmd){
      case 'rect': 
        args = args.map(a=>parseInt(a));
        console.log(args);
        ctx.fillStyle= "#E0E0E0";
        ctx.fillRect(args[0],args[1],args[2],args[3])
        break;
      case 'dot':
        ctx.fillStyle= "#303030";   
        ctx.fillRect(args[0],args[1], 3, 3);
        break;
      case 'line':
        ctx.beginPath();
        ctx.moveTo(args[0],args[1]);
        ctx.lineTo(args[2],args[3]);
        ctx.stroke();
      default:
        break;
    } 
  }
   


</script>
</body>
</html>
