<!DOCTYPE html>
<html lang="en">
<head>
<title>ACE in Action</title>
<style type="text/css" media="screen">
    #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
</head>
<body>
<div>
<button id='save'>Save</button>
<input type='text' size=60 id='filename' placeholder='filename' value='' />
</div>
<div id="editor" style='display:none'>
<%= text %>
</div>
    
<script src="https://pagecdn.io/lib/ace/1.4.5/ace.js" integrity="sha256-5Xkhn3k/1rbXB+Q/DX/2RuAtaB4dRRyQvMs83prFjpM=" crossorigin="anonymous"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    var context = "<%= context %>"
    var editorDiv = document.getElementById("editor");
    var filenameInput = document.getElementById("filename");
    filenameInput.value=context;
    
    editorDiv.style.top="30px";
    editor.getSession().setMode("<%= mode %>");
    editorDiv.style.display="block";
    document.getElementById("save").addEventListener("click", function(){
    let formData = new FormData();
    formData.append("text", editor.getValue());
    fetch("/file/edit",{
            method:"POST",
            headers: {
                'x-context':filenameInput.value,
               // 'Content-Type':formData.
            },
            body:formData
        }).then(resp=>{
            if(resp.ok){
                parent.stdin("file_saved");
            }
        }).catch(err=>{
            alert("err",err);
        })
    })
</script>
</body>
</html>
