html, body {
    margin: 0;
    padding: 0;
  }
  .tty-input{
    bottom:0;
    margin:0;
    padding:0;
  }
  .terminal{
    background-color:black;
    color: white;
    left:50px;
    top:20[x];
  }
  .terminal output {
    clear: both;
    width: 100%;
  }
  .video{
    left:300px;
    top:120px;
    background-color:green;
  }
.excel{
  left:500px;
  top:150px;
  background-color:white;
  color:black;
  z-index:111;
 
}
.camera{
  left:500px;
  top:150px;
  background-color:white;
  color:black;
  z-index:111;
 
}
 
  .desktop {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #999;
  }
  .desktop>.start_bar{
    height:40px;
    background-color: gray;
    min-width:100%;
  }


  .desktop > .card{
    position: absolute;
    min-width:800px;

  }
  .card-body{
    min-height:400px;
  }
   .card-title{
    height: 30px;
    background-color: blue;
    text-align: center;
    position: relative;
    color:white;  
  }

  .title-text{
    line-height: 30px;
  }
  .icon1{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px; 
    top: 5px;
  }
  .icon2{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 25px; 
    top: 5px;
  }
  .icon3{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 45px; 
    top: 5px;
  }
 