k::-moz-selection {
  background: #FF5E99;
}
k::selection {
  background: #FF5E99;
}
html,
body {
  max-width: 100%;
  overflow-x:wrap;
  height: 100%;
  margin: 0;
  color:white;
}
body {
  font-size: 14pt;
  font-family: courier-new, courier, monospace;
}
/* .terminal{
    padding:10px;
} */

pre{
    background-color: black !important;
    color: white !important;
  }
.embded-img{
  max-width:90%;
}
.terminal-container {
  background-color: black;
  color: white;
  min-height: 320px;
}
#container {
  padding: 0.1em 1.5em 1em 1em;
  position:absolute;

  top:0;
  left:0;
  width:100%;
  height:90vh;
}
#container output {
  clear: both;
  width: 100%;
}
#container output h3 {
  margin: 0;
}
#container output pre {
  margin: 0;
}
.input-line {
  display: -webkit-box;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  clear: both;
}
.input-line > div:nth-child(2) {
  box-flex: 1;
}
.prompt {
  white-space: nowrap;
  color: #96b38a;
  margin-right: 7px;
  display: -webkit-box;
  -webkit-box-pack: center;
  display: -moz-box;
  -moz-box-pack: center;
  display: box;
  box-pack: center;
  box-orient: vertical;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.cmdline {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  color: inherit;
}
.ls-files {
  height: 45px;
  -webkit-column-width: 100px;
  -o-column-width: 100px;
  column-width: 100px;
}
/************************************************************/
/* SVG Clock                                                */
/************************************************************/
.clock-container {
  display: none /*inline-block*/;
  position: relative;
  width: 200px;
  vertical-align: middle;
  overflow: hidden;
}
.clock-container > svg > circle {
  stroke-width: 2px;
  stroke: #fff;
}
.hour,
.min,
.sec {
  stroke-width: 1px;
  fill: #333;
  stroke: #555;
}
.sec {
  stroke: #f55;
}
html, body {
  margin: 0;
  padding: 0;
}
.tty-input{
  bottom:0;
  margin:0;
  padding:0;
}
.terminal{
  background-color:black;
  color: white;
  left:50px;
  top:20px;
}
.terminal output {
  clear: both;
  width: 100%;
}
.video{
  left:300px;
  top:120px;
  background-color:green;
}
.excel{
left:500px;
top:150px;
background-color:white;
color:black;
z-index:111;

}
.camera{
left:500px;
top:150px;
background-color:white;
color:black;
z-index:111;

}

.desktop {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #999;
}
.desktop>.start_bar{
  height:40px;
  background-color: gray;
  min-width:100%;
}


.desktop > .card{
  position: absolute;
  min-width:960px;

}
.card-body{
  min-height:70vh;
}
 .card-title{
  height: 30px;
  background-color: blue;
  text-align: center;
  position: relative;
  color:white;  
}

.title-text{
  line-height: 30px;
}
.icon1{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px; 
  top: 5px;
}
.icon2{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 25px; 
  top: 5px;
}
.icon3{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 45px; 
  top: 5px;
}

.c3{
  width: 80%;
  height: 300px;
  background-color:white;
}