<html>
<head>
<title>GrepAwk Canvas</title>
</head>
<body>
<canvas id='canvas' width='300', height='300', style=''>
</canvas>
<script>
  const canvas = document.getElementById('canvas');
  const ctx = canvas.getContext('2d');
  var data = '<%= data %>';
  var lines = data.split("|")
  lines.forEach((line, i)=>{
    var t = line.split(",");
    var cmd = t[0];
    var args = t.splice(1);
    stroke(cmd,args);
  })

  var xScale = 20;
  var yScale = 20;

  function stroke(cmd, args){
    args = args.map((a,i)=> i<=3 ? parseInt(a) : a);
    console.log(cmd,args);
    
    const marginX = 5;
    const marginY = 5;

    if(cmd=='rect'){
        args = args.map(a=>parseInt(a));
        xScale = (canvas.width-2*marginX)/(args[2] - args[0]);
        yScale = (canvas.height-2*marginY)/(args[3] - args[1]);
    }
    console.log(xScale,yScale,marginY,marginX);
      
    args = args.map((a,i)=>{
       if(i>3) return a;
       if(i % 2) return marginY+a*yScale;
       else      return marginX+a*xScale;
    });
   console.log(cmd,args);
    switch(cmd){
      case 'rect': 
        ctx.fillStyle= "#fafafa";
        ctx.fillRect(args[0],args[1],args[2],args[3])
        break;
      case 'dot':
        ctx.fillStyle= "#303030";   
        ctx.fillRect(args[0]-5,args[1]-5, 10, 10);
        break;
      case 'line':
        ctx.beginPath();
        ctx.moveTo(args[0],args[1]);
        ctx.lineTo(args[2],args[3]);
        ctx.stroke();
      default:
        break;
    } 
  }
   


</script>
</body>
</html>
