<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>grep|awk</title>
  <link href="css/absolute.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

  <script src="js/webrtc_client.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-5293413693915559",
      enable_page_level_ads: true
    });
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145355896-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-145355896-1');
  </script>

</head>

<body class='overflow-hidden'>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">GrepAwk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if(user){ %>
          <li class="nav-item">
            Welcome <%= user.fname %>
          </li>
          <% }else{ %>
            <li class="nav-item active">
              <a class="nav-link" href="/google_login">Login with Google <span class="sr-only">(current)</span></a>
            </li>
            <% } %>
              <li class='nav-item active'>
                <a class='nav-link' href='/react/'>V2 UI in React</a>
              </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="desktop">
    <div id='modal-singleton' class="modal d-lg-none" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Upload File</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="draggable card tty">
      <div class="card-title mb-0">
        tty
        <div class="icon1 close-window">x</div>
        <div class="icon2 minimize-window">_</div>
        <div class="icon3 maximize-window">[]</div>
      </div>
      <iframe class='card-body m-0 p-0 w-100 h-100 overflow-hidden' src='/terminal.html'>
      </iframe>
    </div>

    <div class="draggable card camera" id='camera' style='display:none'>
      <div class="card-title mb-0">
        camera
        <div class="icon1 close-window">x</div>
        <div class="icon2 minimize-window">_</div>
        <div class="icon3 maximize-window">[]</div>
      </div>
      <div>
        <table>
          <tr>
            <td> <video height=315 muted id="my_video" autoplay playsinline></video></td>
            <td> <video height=315 muted id="their_video" autoplay playsinline></video></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="draggable card" id='iframe-template' style='display:none'>
      <div class="card-title mb-0">
        <div class='card-title-string'></div>
        <div class="icon1 close-window">x</div>
        <div class="icon2 minimize-window">_</div>
        <div class="icon3 maximize-window">[]</div>
      </div>
      <div class='card-body' style="margin:0px;padding:0px;overflow:hidden">
        <iframe src="" frameborder="0"
          style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:30px;left:0px;right:0px;bottom:0px"
          height="100%" width="100%"></iframe>
      </div>
    </div>
  </div>
</body>


<script>
  window.stdin = function (cmd_str) {
    var args = cmd_str.split(' ').filter(function (val, i) {
      return val;
    });
    if (args.length === 0) {
      return;
    }
    var cmd = args[0].toLowerCase();
    args = args.splice(1); // Remove cmd from arg list.
    var argsstr = args.join(' ');

    if (cmd == 'upload') {
      var modal = $("#modal-singleton");
      modal.show();
    } else if (cmd == 'new') {
      loadIframe("/file/edit?mode=new&filename=" + args[0] + "&cwp=" + args[1], 'editor')
    }
    else if (cmd == 'show_cam') {
      $("#camera").show();
      var room = args.length == 1 ? args[0] : "default";
      var client = WebRTC_Client();
      var uuid = localStorage.getItem("uuid");
      client.login(uuid).then(function () {
        client.join(uuid, room);
      }).catch(e => {
        console.log(e);
      });
    } else if (cmd == "file_saved") {
      $("#iframe-template").hide();
      terminalWindow.terminal.output_ext("file saved");

    }
    else if (cmd == 'edit') {
      loadIframe("/file/edit?url=" + args[0] + "&context=" + args[1], 'editor')
    }
  }

  var terminalWindow;


  function loadIframe(url, title) {
    var window = $("#iframe-template");
    window.find(".card-title-string").html(title);
    var iframe = window.find("iframe");
    iframe.attr("src", url);
    window.css("display", "block");
  }

  $(document).ready(function () {
    var max_zindex = 0;
    var desktop = $(".desktop");
    $(".card").draggable();


    $(".desktop").on("click", ".close-window", function (e) {
      e.preventDefault();
      $(this).parent().parent().hide();
    });

    $(".desktop").on("click", ".minimize-window", function (e) {
      e.preventDefault();
      $(this).parent().next().toggle();
    });

    $(".desktop").on("click", ".maximize-window", function (e) {
      e.preventDefault();
      $(this).parent().parent().css("width", desktop.width);
    });
    terminalWindow = $(".tty").find("iframe")[0].contentWindow;

    $(".terminal").animate({scrollTo: $(".terminal").height()});
  })
</script>

</html>
